.main_container{
    height: 48rem;
    width: 106rem;
    /* border: 2px solid red; */
    background-color: rgba(27, 4, 92, 0.462);
}
.sub_container{
    height: 70%;
    width: 100%;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-evenly;
}
.child_sub_container{
    height: 100%;
    width: 43%;
    /* border: 2px solid white; */
    padding-top: 7%;
    margin-left: 7rem;
}
.h1_div{
    width: 58%;
    height: 20%;
    /* border: 2px solid green; */
 padding-top: 10px;
  
  margin-bottom: 4rem;
}
.h1{
    margin-top: -2rem;
  font-size: 5rem;
  animation: reverse;
  color-scheme: inherit;
  font-weight: bolder;
  color: rgb(12, 251, 251);
}
.para2{
    margin-top:-2rem;
    font-size: 18px;
    color: rgba(177, 189, 189, 0.752);
    
}
.page_1_btn_div{
    height: 8%;
    width: 50%;
    /* border: 2px solid red; */
    margin-top: 15.4rem;
    display: flex;
    justify-content: space-between;
    
}
.btn_1{
    background-color: rgb(0, 72, 255);
    font-weight: bold;
    margin-left: -2rems;
}
.btn_2{
    background-color: rgba(204, 230, 248, 0.536);
    font-weight: bold;
    color: black;
}
.profile_photo{
    height: 86%;
    width: 65%;
    /* border: 2px solid yellow; */
    border-radius: 50%;
    margin-top: -2rem;
    margin-left: -10rem;
    overflow: hidden;
}
.img{
    object-fit: cover;
}