.main_cont {
    height: 100vh;
    width: 96.5vw;
    background-color: rgba(27, 4, 92, 0.462);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
}
.h1{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
margin-top: -2rem;
}
.sub_cont{

}
.h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    margin-top: -0.4rem; 
}
.box {
    width: 25rem;
    background: rgba(11, 199, 224, 0.368);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    height: 10rem;
    margin-bottom: 10rem;
}