/* Page */
.page {
  min-height: 100vh;
  background-color: #f3f4f6;
  padding: 32px;
  font-family: Arial, sans-serif;
}

/* Cards */
.formCard {
  max-width: 640px;
  display: flex;
  justify-content: center;
  margin: auto;
  background: #ffffff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.tableCard {
  max-width: 768px;
  margin: 32px auto 0;
  background: #ffffff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Headings */
.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

/* Inputs */
.input {
  width: 100%;
  border: 1px solid #d1d5db;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  font-size: 14px;
  align-items: center;
}

.input:focus {
  outline: none;
  border-color: #2563eb;
}

/* Buttons */
.registerBtn {
  background-color: #2563eb;
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.registerBtn:hover {
  background-color: #1d4ed8;
}

.deleteBtn {
  background-color: #ef4444;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: #dc2626;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}

.th {
  border: 1px solid #d1d5db;
  padding: 8px;
  background-color: #e5e7eb;
  font-weight: 600;
}

.td {
  border: 1px solid #d1d5db;
  padding: 8px;
  text-align: center;
}

/* Empty text */
.empty {
  color: #6b7280;
}
